* {
  font-family: 'Roboto', serif;
}

html, body {
  margin: 0;
  padding: 0;
}

p {
  font-weight: 800;
}

.hidden {
  display: none;
}

// Fixes Firefox issue displaying overflow due to iframe's frameborder
iframe#ssIFrame_google {
  border: 0;
  height: 0 !important;
}