* {
  font-family: 'Roboto', serif;
}

html, body {
  margin: 0;
  padding: 0;
}

p {
  font-weight: 700;
}

.hidden {
  display: none;
  visibility: hidden;
}

.btn {
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  min-width: 55px;
}

// Fixes Firefox issue displaying overflow due to iframe's frameborder
iframe#ssIFrame_google {
  border: 0;
  height: 0 !important;
}