#addMovieDialogWrapper {
  #overlayModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0;
    display: none;

    &.visible {
      opacity: .5;
      display: block;
    }
  }

  .modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;

    .modal-dialog {
      position: relative;
      width: auto;
      margin: 60px auto;

      .modal-content {
        margin: 0 auto;
        min-width: 230px;
        max-width: 900px;
      }
    }
  }

  .modal-header {
    padding: 10px 5px;
    position: relative;
    min-height: 45px;

    .title {
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .modal-body {
    background: #fff;
    padding: 15px;
    text-align: center;

    .autocomplete {
      text-align: left;
      float: left;
      position: absolute;
      width: 250px;
      margin-top: 1em;
      background-color: #fff;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
      z-index: 100;
      list-style-type: none;

      li {
        display: block;
        margin: 10px;
        padding: 5px 0 !important;
        text-align: left;
        color: #333;
        font-size: 14px;
        text-transform: capitalize;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .modal-footer {
    background: #fff;
    text-align: right;
    padding-top: 5px;
    border-top: 1px solid black;

    .btn {
      margin: .5em;
    }
  }
}
